<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Js Expanding Cards</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/expandingcards.css">
</head>
<body>
    
    <section class="expanding-card-main-section-wrapper">
        <div class="header">
            <h1 class="heading" id="heading">Expanding Cards</h1>
            <h1 class="text"></h1>
        </div>
    
         <!--------------- expanding cards ------------->
        <div class="container">
            <div class="card-wrapper">
                <div class="panel active" style="background-image:url('../img/explor\ world.jpg')">
                    <h3 class="heading" >Explor World</h3>
                    <div class="overlay">
                        <h3 class="overlay-heading" >Explor World</h3>
                        <div class="para-wrapper">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a href="#" class="overlay-btn"> Read More</a>
                    </div>
                </div>
                <div class="panel" style="background-image:url('../img/spring.png')">
                    <h3 class="heading">Spring Season</h3>
                    <div class="overlay">
                        <h3 class="overlay-heading" >Spring Season</h3>
                        <div class="para-wrapper">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a href="#" class="overlay-btn"> Read More</a>
                    </div>
                </div>
                <div class="panel" style="background-image:url('../img/summer.jpg')">
                    <h3 class="heading">Summer Season</h3>
                    <div class="overlay">
                        <h3 class="overlay-heading" >Summer Season</h3>
                        <div class="para-wrapper">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a href="#" class="overlay-btn"> Read More</a>
                    </div>
                </div>
                <div class="panel" style="background-image:url('../img/autumn.jpg')">
                    <h3 class="heading">Winter Season</h3>
                    <div class="overlay">
                        <h3 class="overlay-heading" >Winter Season</h3>
                        <div class="para-wrapper">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a href="#" class="overlay-btn"> Read More</a>
                    </div>
                </div>
                <div class="panel" style="background-image:url('../img/explor\ world.jpg')">
                    <h3 class="heading">Explore Season</h3>
                    <div class="overlay">
                        <h3 class="overlay-heading" >Explore Season</h3>
                        <div class="para-wrapper">
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        </div>
                        <a href="#" class="overlay-btn"> Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
   


</body>
<script src="../js/custom.js"></script>
</html>