<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>search</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/search.css">
</head>
<body>
    <section class="expanding-card-main-section-wrapper">
        <div class="header">
            <h1 class="heading" id="heading">One Line Search Bar</h1>
            <h1 class="text"></h1>
        </div>

        <!--- Search Wrapper---->
        <div class="search-wrapper">
            <form>
                <div class="search-field-wrapper">
                    <input type="search" placeholder="search....">
                </div>
            </form>
        </div>
    </section>
   
</body>
<script src="../js/custom.js"></script>
</html>